@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('../src/styles/reset.css');
@import url('../src/styles/variables.css');

body {
    min-height: 100%;
    font-family: "Noto Sans", sans-serif;
}